<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue test</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js">
    </script>
</head>

<body>


    <div id="app">
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <h1 v-text="siteName"></h1>
                <button type="button" class="btn btn-secondary" v-on:click="showCheckout">Корзина
                    {{ cartItemCount }}</button>
            </nav>
        </header>
        <main>
            <div v-if="showProduct" class="container">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div v-for="product in sortedProducts">
                        <div class="col">
                            <div class="card h-100">
                                <img v-bind:src="product.image" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">{{ product.title .toUpperCase() }}</h2>
                                    <p v-html="product.description" class=card-text"></p>
                                    <p class="price">{{ product.priceUah | formatPrice }}</p>
                                    <button v-on:click="addToCart(product)" v-if="canAddToCart(product)" type="button"
                                        class="btn btn-secondary">Купить</button>
                                    <button v-else type="button" class="btn btn-secondary" disabled>Купить</button>
                                    <span class="inventory-message"
                                        v-if="product.availableInventory - cartCount(product.id) === 0">
                                        Товара больше не осталось=(
                                    </span>
                                    <span class="inventory-message"
                                        v-else-if="product.availableInventory - cartCount(product.id) < 4">
                                        Осталось {{product.availableInventory - cartCount(product.id)}} товара!
                                    </span>
                                    <span class="inventory-message" v-else>
                                        Спешите купить!
                                    </span>
                                    <div class="rating">
                                        <span v-bind:class="{'rating-active' : checkRating(n, product)}"
                                            v-for="n in 5">☆</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else>
                <div class="container">
                    <div class="col-md-6">
                        <strong>Имя:</strong>
                        <input v-model.trim="order.firstName" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <strong>Фамилия:</strong>
                        <input v-model.trim="order.lastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-6"><strong>Ваш адресс:</strong></div>
                        <div class="col-md-6">
                            <input v-model.trim="order.address" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6"><strong>Город:</strong></div>
                        <div class="col-md-6">
                            <input v-model.trim="order.city" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <strong>State:</strong>
                            <select v-model="order.state" class="form-control">
                                <option disabled value="">State</option>
                                <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <strong>Почтовый индекс:</strong>
                            <input v-model.number="order.zip" class="form-control" type="number" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 boxes">
                            <input type="radio" id="home" v-bind:value="order.home" v-model="order.method">
                            <label for="home">Домашний адресс</label>
                            <input type="radio" id="business" v-bind:value="order.business" v-model="order.method">
                            <label for="business">Рабочий андресс</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 boxes">
                            <input type="checkbox" id="gift" value="true" v-bind:true-value="order.sendGift"
                                v-bind:false-value="order.dontSendGift" v-model="order.gift">
                            <label for="gift">Упаковать как подарок?</label>
                        </div>
                    </div>
                    <button v-on:click="submitForm" type="submit" class="btn btn-secondary submit">Заказать</button>
                    <div class="card" style="max-width:540px;">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Имя: {{order.firstName}}</li>
                                <li class="list-group-item">Фамилия: {{order.lastName}}</li>
                                <li class="list-group-item">Адресс: {{order.address}}</li>
                                <li class="list-group-item">Город: {{order.city}}</li>
                                <li class="list-group-item">State: {{order.state}}</li>
                                <li class="list-group-item">Почтовый индекс: {{order.zip}}</li>
                                <li class="list-group-item">Отправка: {{order.method}}</li>
                                <li class="list-group-item">Подарок: {{order.gift}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <script>
        const webstore = new Vue({ //екземпляр вью
            el: '#app', //привязка екземплра вью к эелементу с айди app
            data: { //Объект с данными экземпляра Vue
                siteName: 'Смартик',
                sitePar: 'Лучшие цены на смартфоны',
                showProduct: true,
                products: [], //массив товаров из json
                cart: [], //корзина
                order: { //данные оформления заказа
                    firsName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Отправим домой',
                    gift: 'мы его упакуем',
                    sendGift: "мы его упакуем",
                    dontSendGift: "отправим как есть",
                    home: 'Отправим домой',
                    business: 'Отправим на работу'
                },
                states: {
                    Al: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada'
                }
            },

            filters: { // НУжен Для распространённых задач форматирования текста во Vue
                formatPrice: function (priceUah) {
                    if (!parseInt(priceUah)) {
                        return "";
                    } //если значение не инт то вернем ничего
                    if (priceUah > 99999) { //если оно больше чем
                        let priceString = (priceUah / 27.5).toFixed(
                            2); //делим цену на курс доллара + 2 знака после запятой
                        let priceArray = priceString.split('').reverse();
                        let index = 3;
                        while (priceArray.length > index + 3) {
                            priceArray.splice(index + 3, 0, ",");
                            index += 4;
                        }
                        return '$ ' + priceArray.reverse().join('');
                    } else {
                        return '$ ' + (priceUah / 27.5).toFixed(2);
                    }
                }
            },
            //хук жизненного цикла для загруски из файла json продуктов 
            created: function () {
                axios.get('./products.json').then((response) => {
                    this.products = response.data.products;
                    console.log(this.products);
                });
            },

            methods: { //Методы, которые будут подмешаны к экземпляру Vue
                //Функция добавления в корзину
                addToCart: function (myProduct) {
                    this.cart.push(myProduct.id);
                },
                //функция корзины
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                submitForm() {
                    alert('submitted')
                },
                checkRating(n, myProduct) {
                    return myProduct.rating - n >= 0;
                },
                canAddToCart: function (
                    myProduct) { //проверка сколько в корзине элементов в сравнении с указаным ограничением
                    return myProduct.availableInventory > this.cartCount(myProduct.id);
                },
                //метод возвращающий количество элементов в корзине по id
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }

            },
            computed: { //Вычисляемые свойства, которые будут подмешаны к экземпляру Vue
                cartItemCount: function () {
                    return this.cart.length || "";
                },
                //функция для сортировки продуктов по алфавитному порядку
                sortedProducts() {
                    if (this.products.length > 0) {
                        let productsArray = this.products.splice(0); //преобразуем обьект в массив
                        function compare(a, b) { //функция сравнения заголовков товаров в массиве
                            if (a.title.toLowerCase() < b.title.toLowerCase()) return -1;
                            if (a.title.toLowerCase() > b.title.toLowerCase()) return 1;
                            return 0;
                        }
                        console.log(productsArray);
                        console.log("HI");
                        return productsArray.sort(compare); //возвращаем новый массив товаров
                    }
                }
            }
        });
    </script>
</body>

</html>